
* {
    font-family: arial;
}
body{
    background-color: #987ba148;
}



h2{
    color: #2e043b;
    font-weight: bold;
}
.area{
    background-color: #987ba1;
}
footer{
    color: #AAA;
    font-weight: bold;
}
.uq5vf4B{
    margin-left: 6px;
}